body{
    background-color: #bd4d5c;
}
h1{
    color: white;
    text-align: left;
    font-size: 20px;
}
p{
    color: white;
    text-align: left;
    font-size: 20px;
}
// img{
    width: 60%;
    margin-left: 600px;
}